@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.arrow{
    margin: 8% 0;
}
header>img{
    margin-top: -2px;
}
img{
    max-width: 100%;
}
.hidden {
    opacity: 0;
}
a{
    color: #9E4D4D;
}
.portfolio_access>p{
    max-width: 75%;
    margin: 0 auto;
}
.portfolio_access>h2{
    border-bottom: dashed #4A4D6B;
    border-top: dashed #4A4D6B;
    margin: 0 auto;
    max-width: fit-content;
}
a.btn{
    background: #FF7C7C;
    color: #4A4D6B;
    font-weight: bold;

}
.row img{
    max-width: 30vw;
}
h1{
    font-family: "Permanent Marker", cursive;
    color: #21382d;
    font-size: 4rem;
    margin-bottom: 4rem;
}
.mobile-header{
    font-family: "Permanent Marker", cursive;
    background: #21382d;
    color: white;
    font-size: 2.3rem;
}
h3{
    font-weight: bold;
    color: #4A4D6B;
}
h2{
    font-size: 1.7rem;
    font-weight: bolder;
}
p{
    color : #272838;
}
body{
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
}
li{
    list-style: disc;
}
footer{
    background: #272838;
    color: white;
}
footer>a{
     color: white;
 }
footer>a:hover{
    color: #FFE589;
}
footer>p{
    color: #FFE589;
    border-top: #FFE589 dashed;
    padding-top: 2rem;
    margin-top: 2rem;
}
.animation {
    font-family: "Permanent Marker", cursive;
    color: white;
    font-weight: 600;
    font-size: 4.5em;
    text-align: center;
    height: 150px;
    display: block;
    padding: 15% 0 30% 0;
    line-height: 55px;
    background: #21382d;
}

.console-underscore {
    display: inline-block;
    position: relative;
    left: 10px;
    font-weight: 100;
    font-size: 1.3em;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: white;
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}